/* Store Page CSS */
/* Section 1 of Store Page*/
*{
	font-family: sans-serif;
}
#navbar {
	display: flex;
    height: 100px;
    width: 100%;
	background-color: #000000;
	justify-content: space-around;
}
.navigation{
	display: flex;
	justify-content: space-around;
	height: 100px;
	width: 40%;
	align-items: center;
}
#mist-img {
    height: 90px;
    width: 150px;
    float: left;
    padding-top: 5px;
}
#buttons {
	display: flex;
}
.navbuttons {
	text-decoration: none;
	color: #EAE5E4;
	font-weight: bold;
	margin-right: 10px;
}
#buttons li a:hover {
	text-decoration: none;
	opacity: 0.7;
}
.header{
	height: 68px;
	background: #808080;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
}
.header h2{
	position: relative;
	color: white;
	font-weight: normal;
	text-align: center;
}
.section-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 700px;
	background-image: radial-gradient(#090036 10%,#000000 70%)
}
.section-1 h2{
	display: flex;
	margin-bottom: 50px;
	color: #EAE5E4;
	font-size: 30px;

}
.slideshow-1 {
	position:relative;
	display: block;
	width: 616px;
	height: 353px;
	overflow: hidden;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.slideshow-1 img{
	position: absolute;
	animation: slideshow-1 30s infinite;
	opacity: 0;
	width: 100%;
	height: auto;
}

@keyframes slideshow-1 {25%{opacity:1;} 40%{opacity:0;}}
.slideshow-1 img:nth-child(1){animation-delay:0s;}
.slideshow-1 img:nth-child(2){animation-delay:6s;}
.slideshow-1 img:nth-child(3){animation-delay:12s;}
.slideshow-1 img:nth-child(4){animation-delay:18s;}
.slideshow-1 img:nth-child(5){animation-delay:24s;}

.gamecontent-1 {
	position:relative;
	width: 616px;
	height: 150px;
	overflow: hidden;
	display: block;
	color: #EAE5E4;
	background-color: #1e1e1e;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.game-desc {
	display: flex;
	display: block;
	height: 90px;
	width: 616px;
}
.game-desc p {
	position: absolute;
	animation: gamecontent-1 30s infinite;
	opacity: 0;
	width: 600px;
	height: 70px;
	text-align: center;
	margin: 16px 8px 16px 8px;
}
.game-info {
	display: flex;
	width: 616px;
	height: 70px;
}
.userreviews, .userratings {
	width: 50%;
	text-align: center;
}
.userreviews p, .userratings p {
	position: absolute;
	animation: gamecontent-1 30s infinite;
	opacity: 0;
	width: 308px;
	height: 70px;
}

@keyframes gamecontent-1 {25%{opacity:1;} 35%{opacity:0;}}
.gamecontent-1 p:nth-child(1){animation-delay:0s;}
.gamecontent-1 p:nth-child(2){animation-delay:6s;}
.gamecontent-1 p:nth-child(3){animation-delay:12s;}
.gamecontent-1 p:nth-child(4){animation-delay:18s;}
.gamecontent-1 p:nth-child(5){animation-delay:24s;}

/* Section 2 of Store Page */
.section-2 {
	height: 500px;
	background-image: linear-gradient(#000000 20%,#174955);
}
.section-2 h2 {
	display: flex;
	margin: 0;
	color: #EAE5E4;
	font-size: 30px;
	padding-bottom: 75px;
	padding-left: 150px;
}
.showcase-content img {
	height: 210px;
	width: 300px;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.new-releases img:hover {
	opacity : 0.7;
}
.new-releases {
	display: flex;
	flex-direction: column;
	height: 260px;
	width: 300px;
	padding: 10px;
}
.new-releases:hover{
	transform: translateY(-7px);
}
.new-releases a {
	text-decoration: none;
}
.new-releases-content {
	display: flex;
	height: 50px;
	width: 300px;
	background-color: #2e2e2e;
	align-items: center;
	color: #EAE5E4;
	justify-content: space-between;
	margin: 0;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.new-releases-content p {
	padding-left: 5px;
}
.new-rating {
	display: flex;
	display: block;
	height: 20px;
	width: 60px;
	border: none;
	text-align: center;
}
.new-rating p {
	display: flex;
	margin: 0;
	justify-content: center;
	align-content: center;
}
/* remember to make height auto for responsive for this */
.showcase-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* Section 3 of Store Page */
.section-3 {
	display: flex;
	height: auto;
	background-color: #174955;
	justify-content: center;
}
.tabs {
	height: auto;
	width: 100%;
	margin: 0;
}
.tab-buttons {
	display: flex;
	height: 50px;
	width: 300px;
	background-color: #174955;
	margin-left: 500px;
}
.tablink {
  	background-color: #174955;
  	min-width: 130px;
  	color: #EAE5E4;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	font-size: 17px;
}
.tabcontent {
  	color: white;
	display: flex;
	flex-direction: row;
  	padding: 10px 0px;
	height: auto;
	width: 100%;
	background-color: #1e5c6b;
}
.top-rated:hover, .trending-games:hover, .new-games:hover  {
	opacity: 0.7;
}
.top-rated, .trending-games, .new-games {
	display: flex;
	width: 1000px;
	height: auto;
	background-color: #14515f;
	margin: 15px auto;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.top-rated img, .trending-games img, .new-games img {
	width: 500px;
	height: 300px;
	margin: 0;
}
.top-rated-content p, .trending-games-content p, .new-games-content p, .game-title {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 16px 5px 16px 5px;
}
.tabcontent a {
	text-decoration: none;
	color: snow;
}
.top-rated:hover, .trending-games:hover, .new-games:hover {
	transform: translateX(10px);
}
/* Footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 160px;
	background-color: #000000;
}
.footer-content {
	display: flex;
	flex-direction: column;
	height: 150px;
	width: 1000px;
	align-items: center;
}
.footer-content img {
	height: 90px;
	width: 150px;
}
.footer-content p {
	color: #EAE5E4;
}
/* About Page CSS */
/* Section 1 of About Page*/
.about {
	display: flex;
	height: 800px;
	width: 100%;
	background-color: #000000;
	justify-content: center;
	align-items: center;
	background-color: #000000;
}
.about img {
	height: 250px;
	width: 400px;
}
.about-desc {
	displaY: flex;
	height: 250px;
	width: 400px;
	align-items: center;
}
.about-desc p {
	display: flex;
	color: #EAE5E4;
	font-size: 30px;
	text-align: center;
	margin: 0px 10px 0px 10px;
}
/* Section 2 of About Page */
.extra {
	display: flex;
	display: flex;
	height: 1200px;
	width: 100%;
	background-image: linear-gradient(#000000 20%,#0f343d);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.extra-desc {
	display: flex;
	height: 400px;
	width: 80%;
	flex-direction: column;
}
.extra-desc h2 {
	font-size: 35px;
	color: #EAE5E4;
	text-align: center;
}
.extra-desc p {
	display: flex;
	color: #EAE5E4;
	font-size: 25px;
	text-align: center;
	align-items: center;
}
.extra-images {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.extra-images img {
	display: flex;
	height: 200px;
	width: 380px;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
/* Section 3 of About Page */
.features {
	display: flex;
	height: auto;
	width: 100%;
	background-color: #082830;
	background-image: linear-gradient(#0f343d 20%,#082830);
	flex-direction: column;
}
.feature-header {
	display: flex;
	height: 100px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}
.feature-header h2 {
	display: flex;
	font-size: 45px;
	color: #EAE5E4;
}
.features-row {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-bottom: 5em;
}
.feature-content {
	display: flex;
	height: 250px;
	width: 250px;
	background-color:  #174955;
	border-radius: 5px;
	align-items: center;
	box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
}
.feature-content h2 {
	font-size: 30px;
}
.feature-content h2, p {
	display: flex;
	color: #EAE5E4;
	text-align: center;
	justify-content: center;
	margin: 20px 10px 20px 10px;
}
/* Support Page */
.support {
	display: flex;
	height: 900px;
	width: 100%;
	background-color: #082830;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.support-content {
	display: flex;
	height: 200px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.support-header, .support-desc {
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
	color: #EAE5E4;
}
/* Support Page Form */
.form {
	display: flex;
	flex-direction: column;
	height: 375px;
	width: 80%;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	justify-content: center;
	width: 100%;
}
#name, #email , #message{
	border-style: none;
	background-color:#082830;
	border-bottom-style: groove;
	border-bottom-color: #EAE5E4;
	color: #EAE5E4;
	width: 80%;
}
#message {
	height: 20px;
}
#name:focus, #email:focus, #message:focus {
	outline: none;
}
.form-label {
	text-align: left;
	color: #EAE5E4;
	width: 80%;
}
.form-button {
	display: flex;
	height: 50px;
	width: 50%;
	justify-content: center;
	align-items: center;
	background-color: #082830;
	color: #EAE5E4;
	border: 1px solid #EAE5E4;
	border-radius: 5px;
	transition-duration: 0.3s;
	margin-top: 30px;
	font-size: 25px;
}
.form-button:hover {
	background-color: #EAE5E4;
	color: #082830;
	border: 1px solid #082830;
}


@media only screen and (max-width: 1615px) {
	.section-2 {
		height: auto;
	}
	.section-2 h2 {
		width: 100%;
		padding: 0;
		justify-content: center;
	}
}
@media only screen and (max-width: 1200px) {
	.section-3 {
		width: 100%;
	}
	.top-rated {
		width: 70%;
		flex-direction: column;
		align-items: center;
	}
	.top-rated img {
		width: 100%;
		height: auto;
	}
	.top-rated-content {
		width: 70%;
	}
	.tab-buttons {
		width: 100%;
		margin: 0;
		justify-content: center;
	}
	.tabs {
		width: 100%;
	}
	#navbar {
		width: 100%;
	}
	#buttons {
		margin: 0;
		width: 100%;
	}
	.navbuttons {
		margin-right: 10px;
		margin-lefT: 10px;
	}
	.support {
		width: 100%
	}
	.form {
		width: 70%;
	}
	.about {
		flex-direction: column;
	}
	.extra-images {
		flex-direction: column;
		align-items: center;
	}
	.extra-images img {
		margin-bottom: 3em;
	}
	.features-row {
		flex-direction: column;
		align-items: center;
	}
	.feature-content {
		margin-bottom: 3em;
	}
}

@media only screen and (max-width: 650px) {
	.section-1, .slideshow-1, .gamecontent-1, .game-desc p , .game-info{
		width: 100%;
	}
	.game-desc p {
		margin-left: 5px;
		margin-right: 5px;
	}
	#navbar {
		width: 100%;
	}
}